<div class="container-fluid">
  <!-- TODO: APPOINTMENT CARDS -->
  <h2 class="mb-3">Appointments</h2>
  <!-- Paginator (up) -->
  <mat-paginator
    [length]="appointmentAttendancePage().page.totalElements"
    [pageSize]="appointmentAttendancePage().page.size"
    [pageSizeOptions]="[5, 10]"
    aria-label="Select page"
    (page)="onChangePage()"
  >
  </mat-paginator>

  <!-- Appointments -->
  @for (appointment of appointmentAttendancePage().content; track $index) {
  <app-appointment
    [appointmentAttendance]="appointment"
    (attendanceChanged)="saveAttendance($event)"
  />

  }
  <mat-paginator
    [length]="16"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
