@use "@angular/material" as mat;

.no-button {
  @include mat.button-toggle-overrides(
    (
      selected-state-background-color: rgb(247, 126, 126),
    )
  );
}

.maybe-button {
  @include mat.button-toggle-overrides(
    (
      selected-state-background-color: rgb(254, 255, 182),
    )
  );
}

.yes-button {
  @include mat.button-toggle-overrides(
    (
      selected-state-background-color: rgb(184, 245, 143),
    )
  );
}

.card-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  .title-text {
    font-size: 1.1rem;
    color: #2e2e2e;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action-icons button {
    width: 36px;
    height: 36px;
    min-width: 36px;
  }

  .mat-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// this is the parent span angular inserts for icon inside mat-fab
// ::ng-deep.mat-fab .mat-button-wrapper {
//   display: flex !important;
//   justify-content: center !important;
// }
