<mat-card appearance="outlined" class="mt-3">
  <!-- Date and time -->
  <div class="card-header-row pt-1 ps-3 pe-3">
    <span class="title-text"
      >{{appointment().date}} {{appointment().time}}</span
    >
    <div class="action-icons">
      <button mat-icon-button aria-label="Code">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button mat-icon-button aria-label="Open">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <mat-card-header>
    <mat-card-title>
      <!-- ICONS -->
      <span>
        @if (appointment().type==="REHEARSAL") {
        <mat-icon matTooltip="Rehearsal" matTooltipPosition="before">
          music_note
        </mat-icon>
        } @else {
        <mat-icon matTooltip="Performance" matTooltipPosition="before">
          celebration
        </mat-icon>
        }
      </span>
      {{appointment().title}}
    </mat-card-title>

    <mat-card-subtitle class="mt-2"> {{appointment().description}} </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions align="end">
    <mat-button-toggle-group
      [(ngModel)]="attendance"
      (change)="onAttendanceChange($event)"
      aria-label="Attendance"
      hideSingleSelectionIndicator="true"
    >
      <mat-button-toggle [value]="false" class="no-button">
        <mat-icon>clear</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [value]="true" class="yes-button">
        <mat-icon>check</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-actions>
</mat-card>
